@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: sans-serif;
}


 .mainLayout{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
 }